<form class="row mt-2" [formGroup]="form" *ngIf="form">

    <ng-container *ngFor="let field of fields; let i = index">
        
        <app-field class="mt-2" [ngClass]="{'col-xl-12': field.controlType === 'table', 'col-xl-4': field.controlType !== 'table' }" [field]="field" [form]="form" [modalSearchConfig]="modalSearchConfig" (onSearchSet)="onSearchSet($event)"> 

        </app-field>

    </ng-container>

    <div class="row">
        <div class="col-md-12">
            <ng-content >
                
            </ng-content>
        </div>
    </div>
    
    <ng-container *ngIf="showActions">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
            <button mat-raised-button color="secondary" (click)="clear()" *ngIf="!isCleanBtnHidden">{{clearButtonText}}</button>
            <button mat-raised-button color="primary" (click)="save()">{{submitButtonText}}</button>
        </div>
       
    </ng-container>
    
</form>

